*#
*.xvg
*.trr
*.gro
*.tpr
*.log
*.xtc
*.edr
*.mdp
*.top
*.cpt
*.ndx
*.xtc_offsets.*
*.mod

*.png
*.mp4
*.mpg

*.a
*.out
bin/
build/

.vscode
*.swp

TODO.md

!simulations/water/spce.gro
!simulations/water/spce.xtc
!simulations/water/spce.trr
!simulations/water/spce.ndx
!simulations/water/spce-unwrapped.xtc
!simulations/water/mdp/*